{% extends 'base.html' %}

{% block title %}Admin Portal{% endblock %}

{% block content %}

<div class="container-fluid">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert" id="flashMessage">
                    <p class="text-center">{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<div class="container my-5 text-white">
    <div class="row py-4 justify-content-center">
        <div class="col-9 my-4">
            <table class="my-1">Athletes
                <tr>
                    <th>Name</th>
                    <th>School</th>
                    <th>Sport</th>
                    <th>Position</th>
                    <th>Shop Items</th>
                </tr>
                {% for player in players %}
                <tr>
                    <th>{{ player.first_name }} {{ player.last_name }}</th>
                    <th>{{ player.school }}</th>
                    <th>{{ player.sport }}</th>
                    <th>{{ player.position }}</th>
                    <th>{{ player.shop_items }}</th>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-9 my-4">
            <table class="my-1">Shop Items
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th>Player Connection</th>
                </tr>
                {% for item in shop_items %}
                <tr>
                    <th>{{ item.name }}</th>
                    <th>{{ item.price }}</th>
                    <th>description</th>
                    {% if item.player_id %}
                    <th>{{ get_player(item.player_id).first_name }} {{ get_player(item.player_id).last_name }}</th>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>


<!-- 

<div class="container my-5 text-white">
    <div class="row py-4 justify-content-center">
        <form class="col-lg-4 add_player_form" method="post" action="{{ url_for('add_player') }}">
            <h2>Add new Player</h2> 
                {{ add_player_form.csrf_token }}
            <div class="form-group">
                {{ add_player_form.first_name.label }}
                {{ add_player_form.first_name(class="form-control") }}
            </div>
            <div class="form-group">
                {{ add_player_form.last_name.label }}
                {{ add_player_form.last_name(class="form-control") }}
            </div>
            <div class="form-group">
                {{ add_player_form.school.label }}
                {{ add_player_form.school(class="form-control") }}
            </div>
            <div class="form-group">
                {{ add_player_form.sport.label }}
                {{ add_player_form.sport(class="form-control") }}
            </div>
            <div class="form-group">
                {{ add_player_form.position.label }}
                {{ add_player_form.position(class="form-control") }}
            </div>
            <div class="form-group">
                {{ add_player_form.img1_url.label }}
                {{ add_player_form.img1_url(class="form-control") }}
            </div>
            <div class="form-group">
                {{ add_player_form.img2_url.label }}
                {{ add_player_form.img2_url(class="form-control") }}
            </div>
            <div class="form-group my-3">
                {{ add_player_form.submit(class="btn btn-primary") }}
            </div>
        </form>
        <form class="col-lg-4 add_shop_form" method="post" action="{{ url_for('add_shop_item') }}">
            <h2>Add new Shop Item</h2> 
                {{ add_shop_form.csrf_token }}
            <div class="form-group">
                {{ add_shop_form.name.label }}
                {{ add_shop_form.name(class="form-control") }}
            </div>
            <div class="form-group">
                {{ add_shop_form.price.label }}
                {{ add_shop_form.price(class="form-control") }}
            </div>
            <div class="form-group">
                {{ add_shop_form.img1_url.label }}
                {{ add_shop_form.img1_url(class="form-control") }}
            </div>
            <div class="form-group">
                {{ add_shop_form.img2_url.label }}
                {{ add_shop_form.img2_url(class="form-control") }}
            </div>
            <div class="form-group" id="player-select">
                {{ add_shop_form.player_connection.label }}
                {{ add_shop_form.player_connection(class="form-select") }}
            </div>
            <div class="form-group my-3">
                {{ add_shop_form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
    <div class="row py-4 justify-content-center">
        <form class="col-lg-4 add_shop_form" method="post" onSubmit="return confirm('Are you sure? This cannot be undone.')" action="{{ url_for('delete_player') }}">
            <h2>Delete a player from database</h2> 
                {{ delete_player_form.csrf_token }}
            <div class="form-group">
                {{ delete_player_form.players.label }}
                {{ delete_player_form.players(class="form-select") }}
            </div>
            <div class="form-group my-3">
                {{ delete_player_form.submit(class="btn btn-danger") }}
            </div>
        </form>
        <form class="col-lg-4 add_shop_form" method="post" onSubmit="return confirm('Are you sure? This cannot be undone.')" action="{{ url_for('delete_shop_item') }}">
            <h2>Delete shop item from database</h2> 
                {{ delete_shop_item_form.csrf_token }}
            <div class="form-group">
                {{ delete_shop_item_form.items.label }}
                {{ delete_shop_item_form.items(class="form-select") }}
            </div>
            <div class="form-group my-3">
                {{ delete_shop_item_form.submit(class="btn btn-danger") }}
            </div>
        </form>
    </div>
</div> -->

{% endblock %}
