{% extends 'base.html' %}

{% block title %}{% endblock %} 

<body data-spy="scroll" data-target="navbar">
{% block content %}

<div class="jumbotron" data-src="https://pbs.twimg.com/media/EQHtKlWXUAAOfL6.jpg:large" data-position="center" style="height:765px;">
    <div class="container" style="font-family: 'Baloo Paaji 2', cursive;">
        <h1>oncoor</h1>
        <h4>sports marketing</h4>
        <div class="lead" ><p>social media</p><p>endorsements</p><p>marketing</p></div>
    </div>
    <div class="overlay"></div>
    <a href="#profile" class="scroll-down"></a>
</div>

<div class="background-charcoal">
    <div class="row" style="font-family: 'Baloo Paaji 2', cursive;" id="profile">

        <button class="btn btn-primary btn-lg btn-block">you can press this blue button</button>
        <button class="btn btn-light btn-lg btn-block">you can press this white button</button>
        <button class="btn btn-secondary btn-lg btn-block">you can even press this gray button</button>
        <h4 style="padding-top: 50px; color: white;">none of them can take you anywhere.</h4>
        <div class="oncoor-animate">
            <h2>oncoor will</h2>
            <h2>oncoor will</h2>
        </div>
    </div>
</div>

<div class="dodger-stadium" data-src="https://hermosawavephotography.com/assets/images/2019/1907_XF100698-HDR.jpg" data-position="center" style="height: 600px;">
    <div class="container" style="font-family: 'Baloo Paaji 2', cursive;" id="profile">
        <div class="oncoor-animate" style="padding-bottom: -25%">
            <h2>play here</h2>
            <h2>play here</h2>
        </div>
    </div>
    <div class="overlay"></div>
</div>

{% endblock %}
</body>